---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'Onesize';
  src: url('./fonts/ONESIZE_.eot'); /* IE9 Compat Modes */
  src: url('./fonts/ONESIZE_.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/ONESIZE_.woff') format('woff'), /* Modern Browsers */
       url('./fonts/ONESIZE_.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/ONESIZE_.svg#be0cd6a30dae18bf7640c6b25c4ce317') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  14px;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #fff;
$brand-color:      #000;

$grey-color:       #fbfbfb;
$grey-color-light: lighten($grey-color, 50%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
