---
layout: default
---

  <ul class="post-list">
    {% for post in site.posts %}
      <hr />
      <li>
        <h2 class="post-title">
          {% if post.external_url %}
            <a href="{{ post.external_url }}" onclick="_gaq.push(['_trackPageview', '{{ post.url }}']);" >{{ post.title }}</a>
          {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </h2>
        <span class="post-meta">{{ post.date | date: "%d %B %Y @ %H:%M" }}</span>
        <article class="post-content">
          {{ post.excerpt | markdownify }}
        </article>
        {% if post.external_url %}
          <a href="{{ post.external_url }}" onclick="_gaq.push(['_trackPageview', '{{ post.url }}']);" class="readmore">READ MORE →</a>
        {% else %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="readmore">READ MORE →</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
